:root {
  --primary-bg: #dcf2f1; 
  --secondary-bg: #7fc7d9; 
  --navbar-bg: #365486; 
  --primary-text: #365486; 
  --secondary-text: #365486; 
  --dark-font-color: #333;
}

body {
  background-color: var(--primary-bg); 
  color: var(--primary-text);
}

.contact-list {
  border-right: 1px solid #ddd;
}

.bg-success {
  background-color: #dcf2f1 !important;
}

.text-white {
  color: var(--primary-text) !important;
}

.bg-secondary {
  background-color: var(--secondary-bg) !important;
}

.contact-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-list-item:hover {
  background-color: #7fc7d9 !important;
}

.contact-list-item .avatar {
  margin-right: 10px;
}

.contact-list-item .first-name {
  color: var(--dark-font-color);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.contact-list-item:hover .first-name {
  color: #365486;
}

.chat-container {
  display: flex;
  overflow-X: auto;
  flex-direction: column;
  height: auto;
}

.chat-messages {
  flex-grow: 1;
  width: fit-content;
  overflow-y: auto;
  /* padding: 10px; */
  border-bottom: 1px solid #ddd;
}

.chat-message {
  margin-bottom: 10px;
  color: black;
}

.chat-message.from-user {
  background-color: #54860f; /* Color from the palette */
  border-radius: 20px;
  padding: 6px;
  float: left;
}

.chat-message.from-other {
  background-color: #365486; /* Color from the palette */
  border-radius: 20px;
  padding: 6px;
  float: right;
}

.chat-input-form {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.mt-3 .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.mt-3 .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.navbar {
  background-color: var(--navbar-bg);
}
